Checks: '-*,bugprone-*,modernize-*,performance-*,readability-*'

WarningsAsErrors: '*'

CheckOptions:
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.MethodCase: CamelCase
  readability-identifier-naming.VariableCase: camelBack
  readability-identifier-naming.ParameterCase: camelBack
  readability-identifier-naming.MemberCase: camelBack
  readability-identifier-naming.PublicMemberCase: CamelCase
  
  readability-identifier-naming.PrivateMemberCase: CamelCase
  readability-identifier-naming.PrivateMemberSuffix: '_'
  
  readability-identifier-naming.ProtectedMemberCase: CamelCase
  readability-identifier-naming.ProtectedMemberSuffix: '_'
  
  readability-identifier-naming.ConstexprVariableCase: CamelCase
  readability-identifier-naming.ConstexprVariablePrefix: 'k'
