Language: Cpp
BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 100
SortIncludes: true
AlignConsecutiveAssignments: false
NamespaceIndentation: None
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 1
FixNamespaceComments: true
SpaceInEmptyBlock: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty

IncludeBlocks: Regroup

IncludeIsMainRegex: '(_test|_bench)?$'
IncludeCategories:
  - Regex:           '^<(gtest|gmock|benchmark)/'
    Priority:        4
  - Regex:           '^<.*\.h>'
    Priority:        2
  - Regex:           '^<.*'
    Priority:        3
  - Regex:           '^"thread_pool/'
    Priority:        5
